body{
    background-image: url(https://wallpapers.com/images/hd/90s-aesthetic-retrowave-neon-sunset-grid-jfe3w6yiyo66v88c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    height: 100vh;
    justify-content: center;
}
.header{
    background-color: white;
    width: 50%;
}