body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: black;
    width: 700px;
    height: 350px;
    border-radius: 25px;
    display: flex;
}
header h1{
    font-size: 16px;
}
header p{
    font-size: 10px;
}
.tooltip{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.stars{
    display: flex;
}
.footer{
    
}
